EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-client-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-client-id
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-client-id
EXPO_PUBLIC_API_BASE_URL=https://your-api-base-url.com
EXPO_PUBLIC_GRAPHQL_URL=https://your-api-base-url.com/graphql/
EXPO_PUBLIC_SHARE_DOMAIN=https://your-domain.app
EXPO_PUBLIC_DEEP_LINK_SCHEME=yourapp
EXPO_PUBLIC_STORAGE_BASE_URL=https://storage.googleapis.com
EXPO_PUBLIC_SUPPORT_EMAIL=support@your-domain.app
